# Core Application
SECRET_KEY=replace-with-a-long-random-django-secret-key
ENVIRONMENT=development
DEBUG=True

# Hosts
ALLOWED_HOSTS=localhost,127.0.0.1

# Security
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=31536000

# Logging
LOG_LEVEL=INFO
DJANGO_SERVER_LOG_LEVEL=INFO
APP_LOG_LEVEL=INFO